@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

:root {
  --background: 10, 10, 10;
  --foreground: 255, 255, 255;
}

.light {
  --background: 240, 240, 240;
  --foreground: 10, 10, 10;
}

body {
  color: rgb(var(--foreground));
  background: rgb(var(--background));
}

@layer utilities {
  .text-gradient-1 {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-gradient-1-from to-gradient-1-to;
  }
  .text-gradient-2 {
    @apply bg-clip-text text-transparent bg-gradient-to-r from-gradient-2-from to-gradient-2-to;
  }
  .bg-gradient-1 {
    @apply bg-gradient-to-r from-gradient-1-from to-gradient-1-to;
  }
  .bg-gradient-2 {
    @apply bg-gradient-to-r from-gradient-2-from to-gradient-2-to;
  }
  .glass {
    @apply bg-glass backdrop-blur-md;
  }
}